.app_container {
  width: 100%;
  padding: 5px;
  overflow-x: hidden;
}

.app_container_adder {
  border: 1px solid purple;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app_container_search_input {
  margin-top: 15px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.app_container_table {
  border: 1px solid green;
  margin-top: 15px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-x: scroll;
}
.app_container_table > table > thead > tr > th {
  padding: 7px;
  border: 1px solid lightgray;
}
.app_container_table > table > tbody > tr > td {
  padding: 7px;
  border: 1px solid lightgray;
}
